.form-input {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 50px;
    // padding-top: 0;
    gap: 8px;
    max-height: 90vh;
    overflow-y: auto;
}

.form-input .input {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.form-input .input select,
.form-input .input input {
    width: 100%;
}

.form-input .input.row-2 {
    flex-direction: row;
}

.form-input .input.row-2 label {
    flex-basis: 20%;
    align-self: center;
}

.form-input .input.row-2 div,
.form-input .input.row-2 select,
.form-input .input.row-2 input {
    flex-basis: 80%;
}